.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.video-container {
  width: 70%;
  height: 100%;
  position: relative;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  background-color: #000;
}

.video-container.visible {
  opacity: 1;
}

.chat-container {
  width: 30%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.chat-container.visible {
  opacity: 1;
}
